<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'edit-po' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
	</div>

	<div class="row">
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="barcode"
					class="block fs-12 mb-1">{{'date' | translate}} *</label>
				<div class="container-date-picker">
					<div class="date-picker">
						<input matInput
							[matDatepicker]="pickerEnding"
							placeholder="MM/DD/YYYY"
							[(ngModel)]=form.purchase_date
							readonly
							class="form-control"
							[ngClass]="!formValid.date ? 'border border-2 border-danger' : ''"
							(click)="pickerEnding.open()">
						<mat-datepicker #pickerEnding></mat-datepicker>
					</div>
				</div>
			</div>
			<div class="mb-3 input-dark">
				<label for="supplier_id"
					class="block fs-12 mb-1">{{'supplier' | translate}} *</label>
				<mat-select placeholder="{{'select-supplier' | translate}}"
					[(ngModel)]=form.supplier_id
					(selectionChange)="onSupplierChange()"
					name="supplier_id"
					[ngClass]="!formValid.supplier ? 'border border-2 border-danger' : ''"
					class="form-control">
					<mat-option *ngFor="let item of supplier"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="supplier_address"
					class="block fs-12 mb-1">{{'supplier-address' | translate}}</label>
				<input type="text"
					id="supplier_address"
					[(ngModel)]="form.supplier_address"
					readonly
					autocomplete="off"
					class="form-control">
			</div>
		</div>
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="branch"
					class="block fs-12 mb-1">{{'branch' | translate}} *</label>
				<mat-select placeholder="{{'select-branch' | translate}}"
					[(ngModel)]=form.branch_id
					name="branch"
					[ngClass]="!formValid.branch ? 'border border-2 border-danger' : ''"
					class="form-control">
					<mat-option *ngFor="let item of branch"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="payment"
					class="block fs-12 mb-1">{{'payment-method' | translate}} *</label>
				<mat-select placeholder="{{'select-payment' | translate}}"
					[(ngModel)]=form.payment_method_id
					name="payment"
					[ngClass]="!formValid.payment ? 'border border-2 border-danger' : ''"
					class="form-control">
					<mat-option *ngFor="let item of payment"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="shipping"
					class="block fs-12 mb-1">{{'shipping-method' | translate}} *</label>
				<mat-select placeholder="{{'select-shipping' | translate}}"
					[(ngModel)]=form.shipping_method_id
					name="shipping"
					[ngClass]="!formValid.shipping ? 'border border-2 border-danger' : ''"
					class="form-control">
					<mat-option *ngFor="let item of shipping"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
		</div>
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="shipping-amount"
					class="block fs-12 mb-1">{{'shipping-amount' | translate}}</label>
				<input type="number"
					id="shipping-amount"
					[(ngModel)]=form.shipping_amount
					autocomplete="off"
					class="form-control">
			</div>
			<div class="mb-3 input-dark">
				<label for="status"
					class="block fs-12 mb-1">{{'status' | translate}} *</label>
				<mat-select placeholder="{{'select-status' | translate}}"
					[(ngModel)]=form.status
					name="status"
					[ngClass]="!formValid.status ? 'border border-2 border-danger' : ''"
					class="form-control">
					<mat-option value="OPEN">Open</mat-option>
					<mat-option value="RELEASE">Release</mat-option>
					<mat-option disabled
						value="CLOSE">Close</mat-option>
				</mat-select>
			</div>
		</div>
		<div class="col-12">
			<div class="mt-4 table-responsive">
				<table class="table table-dark table-hover fs-14"
					style="table-layout: auto;">
					<thead>
						<tr>
							<th width="20px">#</th>
							<th style="white-space: nowrap;">{{'barcode' | translate}}</th>
							<th style="white-space: nowrap;">{{'name' | translate}}</th>
							<th width="157px">Purchase price</th>
							<th width="100px">Qty</th>
							<th width="100px">Discount</th>
							<th>Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="!productDetails || productDetails.length === 0">
							<td colspan="8"
								height="100px"
								valign="middle"
								class="text-center">{{'no-data' | translate}}</td>
						</tr>
						<tr *ngFor="let product of productDetails; let i = index">
							<td>{{i+1}}</td>
							<td>
								{{product.barcode}}
							</td>
							<td style="white-space: nowrap;">{{product.name}}</td>
							<td class="input-inline-table">
								<span *ngIf="!product.isEditPrice"
									(click)="toggleEdit(product, 'price')">
									{{ formatCurrency(product.purchase_price) }}
								</span>

								<input *ngIf="product.isEditPrice"
									[(ngModel)]="product.purchase_price"
									(blur)="toggleEdit(product, 'price')"
									type="number"
									class="form-control fs-14" />
							</td>

							<td class="input-inline-table">
								<span *ngIf="!product.isEditQty"
									(click)="toggleEdit(product, 'qty')">
									{{ product.qty | number }}
								</span>
								<input *ngIf="product.isEditQty"
									[(ngModel)]="product.qty"
									(blur)="toggleEdit(product, 'qty')"
									type="number"
									class="form-control fs-14" />
							</td>

							<td class="input-inline-table">
								<span *ngIf="!product.isEditDiscount"
									(click)="toggleEdit(product, 'discount')">
									{{ product.discount | number }}
								</span>
								<input *ngIf="product.isEditDiscount"
									[(ngModel)]="product.discount"
									(blur)="toggleEdit(product, 'discount')"
									type="number"
									class="form-control fs-14" />
							</td>
							<td>{{ calculateTotal(product) | number:'1.0-0' }}</td>
							<td>
								<span (click)="deleteProduct(i)"
									class="text-link">Delete</span>
							</td>
						</tr>
					</tbody>
					<tfoot *ngIf="productDetails.length > 0"
						class="fs-16">
						<tr>
							<td colspan="5"
								class="fw-bold">Grand Total:</td>
							<td class="font-weight-bold">{{ calculateGrandTotal().discount | number:'1.0-0' }}</td>
							<td class="font-weight-bold">{{ calculateGrandTotal().total | number:'1.0-0' }}</td>
							<td colspan="2"></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="text-center">
				<span class="text-link"
					(click)="openDialogProduct()">{{'add-more-product' | translate}}</span>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="d-flex gap-2">
				<button class="button-blue"
					*ngIf="form.status != 'RELEASE'"
					(click)="submit()">{{'update' | translate}}</button>
				<button class="button-primary"
					(click)="close()">{{'print' | translate}}</button>
				<button class="button-pink"
					(click)="close()">{{'cancel' | translate}}</button>
			</div>
		</div>
	</div>

</div>
