<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'list-category' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
		<div class="input-dark w-full">
			<input type="text"
				class="form-control"
				[(ngModel)]="search"
				(ngModelChange)="this.searchUpdate.next($event)"
				placeholder="{{'search-category' | translate}}">
		</div>
		<div>
			<button class="button-pink fs-14"
				(click)="openDialogCategory(false,null)">{{'new-category' | translate}}</button>
		</div>
	</div>
	<div class="mt-4 table-responsive">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th width="20px">#</th>
					<th>{{'name' | translate}}</th>
					<th class="text-center">{{'color' | translate}}</th>
					<th class="text-center">{{'status' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!categories || categories.length === 0">
					<td colspan="4"
						class="text-center">{{'no-data' | translate}}</td>
				</tr>
				<tr *ngFor="let category of categories; let i = index">
					<td>{{ i + 1 }}</td>
					<td><span class="text-link"
							(click)="openDialogCategory(true,category)">{{ category.name }}</span>
					</td>
					<td class="text-center">
						<span class="color-circle"
							[style.background-color]="category.color"></span>
					</td>
					<td class="text-center">
						{{ category.is_active == 1 ? ('active' | translate) : ('inactive' | translate) }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
