.mat-expansion-panel {
	box-shadow: none !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	transition: border-left 0.6s linear;
}

.mat-expansion-panel-header.mat-expanded {
	height: 44px !important;
	border-radius: 0;
	transition: border-left 0.6s linear;
}

.mat-expansion-panel-header {
	height: 44px !important;
	border-radius: 20px !important;

	&:hover {
		background-color: #eb395a50 !important;
	}

	&.active {
		background-color: #EB395A !important;
	}
}

.mat-expansion-panel-body {
	padding: 0 24px 5px !important;
}

.mat-expansion-indicator::after {
	height: 20px !important;
	width: 20px !important;
	background-image: url(/assets/images/icons/arrow-expansion.svg);
	background-size: cover;
	border: none;
	border-width: 0 !important;
	transform: rotate(0) !important;
}

mat-panel-description.right-aligned {
	flex-grow: 0;
}

.mat-expansion-panel-spacing {
	margin: 0 !important;
}

.mat-button-focus-overlay,
.mat-expansion-panel-header {
	background-color: transparent !important;
}

.item-child {
	cursor: pointer;
	padding: 10px 20px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 20px;

	&:hover {
		background-color: #eb395a50 !important;
	}

	&.active {
		background-color: #EB395A !important;
	}
}