<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'new-po' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
	</div>

	<div class="row">
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="barcode"
					class="block fs-12 mb-1">Date *</label>
				<div class="container-date-picker">
					<div class="date-picker">
						<input matInput
							[matDatepicker]="pickerEnding"
							placeholder="MM/DD/YYYY"
							readonly
							class="form-control"
							(click)="pickerEnding.open()">
						<mat-datepicker #pickerEnding></mat-datepicker>
					</div>
				</div>
			</div>
			<div class="mb-3 input-dark">
				<label for="supplier_id"
					class="block fs-12 mb-1">Supplier *</label>
				<mat-select placeholder="{{'select-supplier' | translate}}"
					[(ngModel)]=form.supplier_id
					(change)="onSupplierChange()"
					name="supplier_id"
					class="form-control">
					<mat-option *ngFor="let item of supplier"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="supplier_address"
					class="block fs-12 mb-1">Supplier Address</label>
				<input type="text"
					id="supplier_address"
					[(ngModel)]="form.supplier_address"
					readonly
					autocomplete="off"
					class="form-control">
			</div>
		</div>
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="branch"
					class="block fs-12 mb-1">Branch *</label>
				<mat-select placeholder="{{'select-branch' | translate}}"
					[(ngModel)]=form.branch_id
					name="branch"
					class="form-control">
					<mat-option *ngFor="let item of branch"
						[value]="item.id">{{ item.name }}</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="payment"
					class="block fs-12 mb-1">Payment Method *</label>
				<mat-select placeholder="{{'select-payment' | translate}}"
					[(ngModel)]=form.payment_method
					name="payment"
					class="form-control">
					<mat-option [value]="1">Transfer</mat-option>
					<mat-option [value]="2">Cash</mat-option>
				</mat-select>
			</div>
			<div class="mb-3 input-dark">
				<label for="shipping"
					class="block fs-12 mb-1">Shipping Method *</label>
				<mat-select placeholder="{{'select-shipping' | translate}}"
					[(ngModel)]=form.shipping_method
					name="shipping"
					class="form-control">
					<mat-option [value]="1">Self Pickup</mat-option>
					<mat-option [value]="2">Delivery By Supplier</mat-option>
				</mat-select>
			</div>
		</div>
		<div class="col-12 col-md-4 col-sm-6">
			<div class="mb-3 input-dark">
				<label for="barcode"
					class="block fs-12 mb-1">Shipping Amount</label>
				<input type="number"
					id="barcode"
					autocomplete="off"
					class="form-control">
			</div>
			<div class="mb-3 input-dark">
				<label for="status"
					class="block fs-12 mb-1">Status *</label>
				<mat-select placeholder="{{'select-status' | translate}}"
					[(ngModel)]=form.status
					name="status"
					class="form-control">
					<mat-option [value]="1">Open</mat-option>
					<mat-option [value]="2">Release</mat-option>
				</mat-select>
			</div>
		</div>
		<div class="col-12">
			<div class="mt-4 table-responsive">
				<table class="table table-dark table-hover"
					style="table-layout: auto;">
					<thead>
						<tr>
							<th width="20px">#</th>
							<th style="white-space: nowrap;">{{'barcode' | translate}}</th>
							<th style="white-space: nowrap;">{{'name' | translate}}</th>
							<th width="157px">Purchase price</th>
							<th width="100px">Qty</th>
							<th width="100px">Discount</th>
							<th>Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="!productDetails || productDetails.length === 0">
							<td colspan="8"
								class="text-center">{{'no-data' | translate}}</td>
						</tr>
						<tr *ngFor="let product of productDetails; let i = index">
							<td>{{i+1}}</td>
							<td>
								{{product.barcode}}
							</td>
							<td style="white-space: nowrap;">{{product.name}}</td>
							<td class="input-inline-table">
								<span *ngIf="!product.isEditPrice"
									(click)="toggleEdit(product, 'price')">
									{{ formatCurrency(product.purchase_price) }}
								</span>

								<input *ngIf="product.isEditPrice"
									[(ngModel)]="product.purchase_price"
									(blur)="toggleEdit(product, 'price')"
									type="number"
									class="form-control" />
							</td>

							<td class="input-inline-table">
								<span *ngIf="!product.isEditQty"
									(click)="toggleEdit(product, 'qty')">
									{{ product.qty | number }}
								</span>
								<input *ngIf="product.isEditQty"
									[(ngModel)]="product.qty"
									(blur)="toggleEdit(product, 'qty')"
									type="number"
									class="form-control" />
							</td>

							<td class="input-inline-table">
								<span *ngIf="!product.isEditDiscount"
									(click)="toggleEdit(product, 'discount')">
									{{ product.discount | number }}
								</span>
								<input *ngIf="product.isEditDiscount"
									[(ngModel)]="product.discount"
									(blur)="toggleEdit(product, 'discount')"
									type="number"
									class="form-control" />
							</td>
							<td>{{ calculateTotal(product) | number:'1.0-0' }}</td>
							<td>
								<span class="text-link">Delete</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center">
				<span class="text-link"
					(click)="openDialogProduct()">{{'add-more-product' | translate}}</span>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="d-flex gap-2">
				<button class="button-blue">{{'save' | translate}}</button>
				<button class="button-pink">{{'cancel' | translate}}</button>
			</div>
		</div>
	</div>

</div>
