<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'new-branch' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
	</div>

	<div class="row">
		<div class="col-12 col-md-6">
			<div class="mb-3 input-dark">
				<label for="name"
					class="block fs-12 mb-1">{{'name' | translate}}</label>
				<input type="text"
					id="name"
					[(ngModel)]="form.name"
					autocomplete="off"
					autocapitalize="words"
					[ngClass]="!formValid.name ? 'border border-danger' : ''"
					class="form-control">
			</div>
			<div class="mb-3 input-dark">
				<label for="address"
					class="block fs-12 mb-1">{{'address' | translate}}</label>
				<input type="text"
					autocapitalize="words"
					id="address"
					[(ngModel)]="form.address"
					[ngClass]="!formValid.address ? 'border border-danger' : ''"
					class="form-control">
			</div>
			<div class="mb-3 input-dark">
				<label for="maps"
					class="block fs-12 mb-1">{{'maps' | translate}}</label>
				<input type="text"
					autocapitalize="words"
					id="maps"
					[(ngModel)]="form.maps"
					class="form-control">
			</div>
			<div class="form-check form-switch input-dark mb-3">

				<div class="d-flex justify-content-start align-items-center">
					<input class="form-check-input"
						type="checkbox"
						role="switch"
						value="1"
						id="flexSwitchCheckDefault"
						[(ngModel)]="form.is_active"
						(change)="toggleActive($event)">
					<label for="flexSwitchCheckDefault"
						class="ms-2">
						{{ form.is_active === 1 ? ('active' | translate) : ('inactive' | translate) }}
					</label>
				</div>

			</div>
		</div>
		<div class="col-12">
			<div class="d-flex gap-2">
				<button (click)="submit()"
					class="button-blue">{{'save' | translate}}</button>
				<button (click)="close()"
					class="button-pink">{{'cancel' | translate}}</button>

			</div>
		</div>
	</div>

</div>
