.cl-grey {
	color: #69696E;
}

.cl-white {
	color: #FFF;
}

.cl-pink {
	color: #EB395A;
}

.icon-white {
	filter: invert(94%) sepia(93%) saturate(45%) hue-rotate(359deg) brightness(108%) contrast(99%);
}

.color-circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}