body {
	font-family: 'Plus Jakarta Sans';
	word-spacing: 3px;
}

.to-1 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.to-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.font-primary {
	font-family: 'Plus Jakarta Sans';
}

.uppercase {
	text-transform: uppercase;
}