<div class="container mt-3">
	<div class="row">
		<div class="col-12 logo-wrapper">
			<img src="/assets/images/simplidots-single.png"
				alt="">
		</div>
	</div>
	<div class="row mt-5">
		<div class="fw-bold fs-10 cl-grey">Menu</div>
		<div class="menu-content">
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/')"
				[ngClass]="{ 'active': isMenuActive('/') }">
				<img src="assets/images/icons/overview.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'overview' | translate }}</div>
			</div>
			<mat-accordion>
				<mat-expansion-panel [expanded]="isExpantMenu('master')">
					<mat-expansion-panel-header class="mt-3 menu">
						<mat-panel-title class="item-parent-expant d-flex align-items-center gap-3">
							<img src="assets/images/icons/master.svg"
								alt="">
							<div class="fw-bold fs-14 lh-1 font-primary">{{ 'master' | translate }}</div>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div class="lh-1 item-child font-primary"
						(click)="goTo('/master/category')"
						[ngClass]="{ 'active': isMenuActive('/master/category') }">{{ 'category' | translate }}</div>
					<div class="lh-1 item-child font-primary"
						(click)="goTo('/master/brand')"
						[ngClass]="{ 'active': isMenuActive('/master/brand') }">{{ 'brand' | translate }}</div>
					<div class="lh-1 item-child font-primary"
						(click)="goTo('/master/products')"
						[ngClass]="{ 'active': isMenuActive('/master/products') }">{{ 'product' | translate }}</div>
					<div class="lh-1 item-child font-primary"
						(click)="goTo('/master/employes')"
						[ngClass]="{ 'active': isMenuActive('/master/employes') }">{{ 'staff' | translate }}</div>
				</mat-expansion-panel>
			</mat-accordion>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/transation')"
				[ngClass]="{ 'active': isMenuActive('/transation') }">
				<img src="assets/images/icons/shop.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'sales-order' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/transation')"
				[ngClass]="{ 'active': isMenuActive('/transation') }">
				<img src="assets/images/icons/shop.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'purchase-order' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/check-price')"
				[ngClass]="{ 'active': isMenuActive('/check-price') }">
				<img src="assets/images/icons/search.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'check-price' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/branch')"
				[ngClass]="{ 'active': isMenuActive('/branch') }">
				<img src="assets/images/icons/branch.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'branch' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/warehouse')"
				[ngClass]="{ 'active': isMenuActive('/warehouse') }">
				<img src="assets/images/icons/materials.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'warehouse' | translate }}</div>
			</div>
			<div class="d-flex align-items-center gap-3 mt-3 menu"
				(click)="goTo('/report')"
				[ngClass]="{ 'active': isMenuActive('/report') }">
				<img src="assets/images/icons/report.svg"
					alt="">
				<div class="fw-bold fs-14 lh-1">{{ 'report' | translate }}</div>
			</div>
		</div>
	</div>
</div>
