<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'list-warehouse' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
		<div class="input-dark w-full">
			<input type="text"
				class="form-control"
				[(ngModel)]="search"
				(ngModelChange)="this.searchUpdate.next($event)"
				placeholder="{{'search-warehouse' | translate}}">
		</div>
		<div>
			<button (click)="openDialogWarehouse(false,null)"
				class="button-blue">{{'new-warehouse' | translate}}</button>
		</div>
	</div>
	<div class="mt-4 table-responsive">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th width="20px">#</th>
					<th>{{'name' | translate}}</th>
					<th>{{'status' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!warehouses || warehouses.length === 0">
					<td colspan="6"
						class="text-center">{{'no-data' | translate}}</td>
				</tr>
				<tr *ngFor="let item of warehouses; let i = index">
					<td>
						{{ i + 1 }}
					</td>
					<td>
						<span class="text-link"
							(click)="openDialogWarehouse(true,item)">{{item.name}}</span>
					</td>
					<td>
						{{ item.is_active == 1 ? ('active' | translate) : ('inactive' | translate) }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
