<div class="container-fluid">
	<h4 class="mb-4 p-0">{{'list-po' | translate}}</h4>
	<div class="d-flex justify-content-between align-items-center gap-3">
		<div class="input-dark w-full">
			<input type="text"
				class="form-control"
				placeholder="{{'search-po-number' | translate}}">
		</div>
		<div>
			<button [routerLink]="['/purchase/po/create']"
				class="button-blue">{{'new-po' | translate}}</button>
		</div>
	</div>
	<div class="mt-4 table-responsive">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th width="20px">#</th>
					<th>{{'id' | translate}}</th>
					<th>{{'date' | translate}}</th>
					<th>{{'supplier' | translate}}</th>
					<th>{{'status' | translate}}</th>
					<th>{{'price' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!purchases || purchases.length === 0">
					<td colspan="6"
						class="text-center">{{'no-data' | translate}}</td>
				</tr>
				<tr *ngFor="let item of purchases; let i = index">
					<td>
						{{ i + 1 }}
					</td>
					<td>
						<span class="text-link"
							[routerLink]="['/purchase/po/edit']"
							[queryParams]="{ id: item.id }">{{item.id}}</span>
					</td>
					<td>{{item.purchase_date | date: 'dd/MM/yyyy'}}</td>
					<td>{{item.supplier.name}}</td>
					<td>{{item.status}}</td>
					<td>Rp.{{item.total_amount | number}},-</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
